*.pyc
*.pyo
*.war
*.ini
*.mo
*.iml
*.swp
*~
.installed.cfg
apache/wsgi.conf
apache/tomcat-print.conf
buildout/bin/
buildout/develop-eggs/
buildout/eggs/
buildout/parts/
MANIFEST
.coverage
aap.egg-info
.idea
*.swp
.DS_Store
boto.cfg
client_secrets.json
